@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
 }   

    body{
        background-image:linear-gradient(to right, #042940, #005C53, #9FC131, #DBF227, #D6D58E);
    }

    main{
        background-color: white;
        border-radius: 10px;
        box-shadow: 5px 5px 15px rgba(78, 68, 68, 0.51);
        width: 600px;
        padding: 10px;
        margin: auto;
    }

    h1{
        color: #005C53;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.185);
    }

    h2{
        color: #042940;
    }

    p{
        text-align: justify;
    }