@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comic+Relief:wght@400;700&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header{
    text-align: center;
    color: white;
    background-color: black;
}

header > h1 {
    padding-top: 50px;
    font: 600 normal 10vw 'Passion One';
    font-variant: small-caps;
}

header > p { 
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    color: white;
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font: 400 normal 180% 'Sriracha';
    line-height: 2em;
    
}

section.normal {
    background-color: white;
}

section.imagem1 { 
    padding: 40px;
    color: white;
    background: black url(imagens/background001.jpg) right center no-repeat fixed;
    background-size: cover;
}

section.imagem2 {
    color: white;
    background: black url(imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover
}

section.imagem1 > p, section.imagem2 > p{
    background-color: rgba(0, 0, 0, 0.49);
    width:400px;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}