@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comic+Relief:wght@400;700&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: darkgray;
}

header{
    text-align: center;
    color: white;
    background-color: black;
}

header > h1 {
    padding-top: 50px;
    font: 600 normal 10vw var(--fonte2);
    font-variant: small-caps;
}

header > p { 
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    color: white;
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font: 400 normal 3.5vw var(--fonte3);/* no lugar de 3.5 da view width eu tinha colocado 180% e deu certo*/
    line-height: 2em;
    
}

section.normal {
    background-color: white;
}

section > p {
    padding-bottom: 1em;;
}

section.imagem1 { 
    padding: 40px;
    color: white;
    background: black url(imagens/background001.jpg) right center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.521) ;
}

section.imagem2 {
    color: white;
    background: black url(imagens/background002.jpg) left top no-repeat fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.521) ;
}

section.imagem1 > p, section.imagem2 > p{
    display:inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.49);
    text-shadow: 1px 1px 0px black;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}